.jumbotron {
    background-image: url('../img/Economy-and-tech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: whitesmoke;
    font-size: 25px;
}

#main-header {
    font-size: 75px;
}

#header-p {
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 4px 4px black;
}