.jumbotron {
    background-image: url('https://iili.io/JUsoAB.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-size: 25px;
}

#main-header {
    font-size: 75px;
}

#header-p {
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
}