.jumbotron {
    background-image: url('https://iili.io/JrcU3Q.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 25px;
}

.formacion-txt {
    font-size: 18px;
}

.sections h1 {
    font-size: 85px;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

#main-header {
    font-size: 75px;
}

#header-p {
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
}

#profile-pic {
    border-radius: 50%;
    width: 85%;
}

#formacion-imagen {
    background-image: url("https://iili.io/Jrcr8B.jpg");
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}


#formacion h3 {
    font-size: 75px;
}

#formacion h4 {
    font-size: 55px;
}

#formacion p {
    font-size: 38px;
    font-weight: bolder;
    text-shadow: 1px 1px white;
}

#topics-list {
    font-size: 38px;
    font-weight: bolder;
    text-shadow: 1px 1px white;

}

#unicaribe-logo {
    width: 95%;
}

.rnd-img {
    border-radius: 50%;
    width: 50%;
}